<%- include('./templates/header'); -%>

<!-- Product Form  <main class="container-fluid"> -->

<div class="row without-margen">
  <div class="formulario">
    <strong>
      <h1 class="card-title text-white w-100">ADMINISTRAR CLIENTES</h1>
    </strong>
    <hr>
    <div class="card">
      <div class="card-body">
        <div id="alert-edit">

        </div>
        <h3 class="text-dark text-center">Registrar cliente</h3>
        <!-- Product Form -->
        <form id="ClienteForm" class="card card-body">
          <div class="form-group">
            <a>Nombre del cliente</a>
            <input type="text" id="nombre" name="nombre" placeholder="Ejem. Juan Costa" class="form-control" required
              autofocus>
          </div>

          <div class="form-group">
            <a>N# Telefono</a>
            <input type="number" id="telefono" name="telefono" placeholder="Ejem. 71330045" required
              class="form-control" autofocus>
          </div>

          <div class="form-group">
            <a>Email</a>
            <input type="text" id="nit" name="nit" placeholder="Ejem. vlad22352@gmail.com" class="form-control" required
              autofocus>
          </div>

          <div>
            <input type="hidden" value="0" name="idforedit" id="idforedit">
          </div>

          <button id="btn-Cte" type="submit" class="btn btn-primary">
            Guardar
          </button>
        </form>

      </div>
    </div>

  </div>
  <!-- Product List -->
  <div class="listado">
    <div class="card">
      <div class="card-body">
        <h3 class="text-dark text-center">Listado de clientes</h3>
        <table id="ClientTable" class="text-center table table-responsive-lg table-hover">
          <thead class="thead-dark">
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Telefono</th>
              <th>Email</th>
              <th colspan="2">Opciones</th>
            </tr>
          </thead>
          <tbody id="myTable">

          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>


<%- include('./templates/scripts.ejs'); -%>



</body>
<script>


  $(document).ready(async () => {
    getListClientes();
  });
  //////////////////////////////////////////////////////////////////////////////////////////////////////////
  const getListClientes = async (clienteId) => {
    let content = document.getElementById("myTable");
    let response = await new GetInfoByFetch(`${url.apiclientes}`).request();
    content.innerHTML = " ";
    response.forEach(clientes => {
      let Cliente = ` <tr > 
                        <td>#${clientes.clienteId}</td>
                        <td>${clientes.nombre}</td>
                        <td>${clientes.telefono}</td>
                        <td>${clientes.nit}</td>
                        <td>
                          <i style="cursor: pointer;" onclick="editTable(${clientes.clienteId})" class="text-warning fas fa-edit"></i> 
                        </td>
                        <td>
                          <i style="cursor: pointer;" onclick="deleteClient(${clientes.clienteId})" class="text-danger fas fa-trash"></i> 
                        </td>
                        
                    </tr>`;
      content.insertAdjacentHTML('beforeEnd', Cliente);
    });
    return ListClients = response;
  }

  /////////////////////////////////////////////////////////////////////////////////////////////////////////
  const deleteClient = (clienteId) => {

    alertify.confirm("<i class='fas fa-exclamation-circle text-danger'></i> Advertencia ", "¿Decea borrar este cliente ?.",
      async function () {
        let response = await new GetInfoByFetch(`${url.apiclientes}/${clienteId}`, 'DELETE').request();
        alertify.success(response.success);

        getListClientes();
      },
      function () {
      });

  }
  /////////////////////////////////////////////////////////////////////////////////////////////////////////

  document.querySelector("#ClienteForm").addEventListener("submit", async (event) => {
    event.preventDefault();
    let data = new FormData(event.currentTarget);

    if (parseInt(data.get("idforedit")) === 0) {
      editOsaveTable(
        new URLSearchParams({
          'nombre': data.get("nombre"),
          'telefono': data.get("telefono"),
          'nit': data.get("nit"),
        }),
        method = 'POST',
        link = url.apiclientes);

    } else {
      editOsaveTable(
        new URLSearchParams({
          'nombre': data.get("nombre"),
          'telefono': data.get("telefono"),
          'nit': data.get("nit")
        }),
        method = 'PUT',
        link = `${url.apiclientes}/${data.get('idforedit')}`);
    }

  });
  ///////////////////////////////////////////////////////////////////////////////////////////////////////// 

  const editOsaveTable = async (data, method, link) => {

    let response = await new GetInfoByFetch(`${link}`, method, data).request();

    if (response.ok === false) {
      alertify.alert("<i class='fas fa-exclamation-circle text-danger'></i> Error al enviar el formulario ",
        "Recomendaciones:<br>Tamaño maximo de la imagen 5Mb<br>Formato : jpeg jpg png o gif!");
    } else {
      getListClientes();
      alertify.success(response.success)
      $("#idforedit").val(0);
      $("#alert-edit").html(" ");
      document.querySelector("#ClienteForm").reset();

    }
  }
  ////////////////////////////////////Editar//////////////////////////////////////////////////////////////////////
  const editTable = async (clienteId) => {
    document.querySelector("#ClienteForm").reset();

    const response = await new GetInfoByFetch(`${url.apiclientes}/findOne/${clienteId}`).request();
    

    Object.entries(response).forEach(([key, value]) => {
      $(`#${key}`).val(`${value}`);

    });
    $("#idforedit").val(clienteId);
    
    $("#alert-edit").html(`<div class="alert alert-warning" role="alert">
              <h5 class="alert-heading w-100">
                Estado: Editando... 
                <span  style="cursor: pointer;" onclick="cancelEdit()" class="text-primary float-right">
                  Canelar edicion
                  </span>
                </h5> 
            </div>
        `);
  }
  const cancelEdit = () => {
    $("#alert-edit").html(" ");
    $("#idforedit").val(0);
    document.querySelector("#ClienteForm").reset();
  }

//////////////////////////////////////////////////////////////////////////////////////////////////////////


//////////////////////////////////////////////////////////////////////////////////////////////////////////
</script>

</html>