<%- include('./templates/header'); -%>
    <!--
Autor Geovanny Valencia / "Otro autor"
14/08/2020
Proposito de esta pagina: Esta es la pagina de reportes
aqui se gestionanran los reportes que se generan
-->
    <!-- Aqui Agregar el contenido para las paginas del sistemas  -->
    <!-- cards TAbles -->

    <br>
    <div class="container">
        <div class="row row-cols-5">

            <div id="ProdOption" onclick="changeOptionConfig(this.id)" class="reportes-name-container col">PRODUCTOS</div>
            <div id="MasOption"  onclick="changeOptionConfig(this.id)" class="reportes-name-container col">VENTAS POR PRODUCTOS</div>
            <div id="GenOption"  onclick="changeOptionConfig(this.id)" class="reportes-name-container col">VENTAS</div>
            <div id="DetOption"  onclick="changeOptionConfig(this.id)" class="reportes-name-container col">DETALLES DE VENTAS</div>
            <div id="XOption"    onclick="changeOptionConfig(this.id)" class="reportes-name-container col">REPORTE X</div>
            
            
        </div>
    </div>

    <div class="justify-content-center">
        <br>
        <br>
        <div id="ProdOp" class="d-none main-container-list">
        
            <div class="row w-100">
                <div class="col-md-12">
                    <div class="card">
                        <div id="ProductoTable" class="card-body">
                            <h3 class="text-dark float-left"><strong>LISTADO DE PRODUCTOS</strong></h3>
                            
                            <button class="btn btn-success ver float-right" onclick="makePdf1()">Imprimir <i class="fas fa-print"></i></button>
                            <table id="TableUser"
                                class="table-bordered table table-hover text-dark border-info">
                                <thead class="bg-info text-white">
                                    <tr>
                                        <th>Producto</th>
                                        <th>Precio</th>
                                        <th>Cateoria</th>
                                        <th>Estado</th>

                                    </tr>
                                </thead>
                                <tbody id="container-list-table2">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="MasOp" class="d-none main-container-list">
            <!-- Reportes ordenar lista de manera ascendente -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        
                        <div id="MasTable" class="card-body">
                            <br>
                            <h3 class="text-dark"><strong>REPORTE DE VENTAS POR PRODUCTOS</strong></h3>
                            <hr>
                            <table class="table w-100">
                                <tr>
                                    <td>Desde</td>
                                    <td>Hasta</td>
                                    <td class="6"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <input value="" type="date" class="form-control" id="fechaX1">
                                    </td>
                                    <td>
                                        <input value="" type="date" class="form-control" id="fechaY1">
                                    </td>                                       
                                    <td style="text-align: right;">
                                        <button class="btn btn-secondary ver  form-group" onclick="filter()">Filtrar por fechas <i class="fas fa-filter"></i></button> 
                                    </td>
                                    <td style="text-align: left;">
                                        <button class="btn btn-primary ver  form-group" onclick="reload()">Recargar reporte de hoy <i class="fas fa-sync"></i></button>
                                    </td>
                                    <td style="text-align: right;">
                                        <button class="btn btn-success ver form-group" onclick="makePdf3()">Imprimir reporte actual <i class="fas fa-print"></i></button> 
                                    </td>
                                    <td style="text-align: right;">
                                        <button class="btn btn-success ver  form-group" onclick="makePdf31()">Imprimir reporte de hoy <i class="fas fa-print"></i></button>
                                    </td>                                   
                                </tr>
                            </table>
                            <br>
                            <table class="table w-100">
                                <tr>
                                    
                                    <th style="text-align:left; font-size: 20px;" colspan="2">FECHA: <span id="fechaOntable">  </span></th>
                                    
                                </tr>
                                <tr>
                                    <th style="text-align:center"></th>
                                    <th style="text-align:right; font-size: 20px;" colspan="2">Total: <strong id="totalFinal">  </strong> </th>
                                    
                                </tr>
                            </table>
                            <table style="text-align:left" id="TableUser"
                                class="table-bordered table table-hover text-dark ">
                                <thead class="thead-white">

                                    <tr class="bg-info text-white">
                                        <th style="width: 40%;text-align: center!important;"></th>
                                        <th style="width: 20%;">CANTIDAD POR PRODUCTO</th>
                                        <th  style="width: 20%;">TOTAL POR PRODUCTO</th>

                                    </tr>

                                </thead>
                                <tbody id="container-list-table3">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="DetOp" class="d-none main-container-list">
            <!-- Reportes ordenar lista de manera ascendente -->
            <center>
                <table>
                    <tr>
                        <td>Desde</td>
                        <td>Hasta</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="date" class="form-control" id="fechaX2">
                        </td>
                        <td>
                            <input type="date" class="form-control" id="fechaY2">

                        </td>
                        <td><button class="btn btn-success ver" onclick="makePdf4()">Cargar reporte</button> </td>
                        <td><button class="btn btn-success ver" onclick="makePdf41()">Reporte Diario</button> </td>
                    </tr>
                </table>
            </center>
            <h1 class="text-white">LISTA DE VENTAS DETALLADA DEL DIA</h1>

            <div class="row ">
                <div class="col-md-12">
                    <div class="card">
                        <div id="ListaVTable" class="card-body">
                            <h3 class="text-dark text-center">LISTA DE VENTAS DETALLADA DEL DIA</h3>
                            <table id="TableUser" class="borderless table table-responsive-lg text-dark text-center">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Producto</th>
                                        <th>Cantidad</th>
                                        <th>Precio</th>
                                        <th>Hora</th>
                                        <th>Fecha</th>
                                    </tr>
                                </thead>
                                <tbody id="container-list-table4">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- REP X-->
        <div id="XoP" class="d-none main-container-list">
            <!-- Reporte x -->
            <center>
                <h2 class="text-white">Reporte X</h2>
                <table>
                    <tr>
                        <td>Desde</td>
                        <td>Hasta</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="date" class="form-control" id="fechaNX1">
                        </td>
                        <td>
                            <input type="date" class="form-control" id="fechaNX2">

                        </td>
                        <td><button class="btn btn-success ver" onclick="makePdf5()">Cargar reporte</button> </td>
                        <td><button class="btn btn-success ver" onclick="makePdf51()">Reporte Diario</button> </td>
                    </tr>
                </table>
            </center>

            <hr>
        </div>

        <!--REPORTE GENERAL-->
        <div id="GenOp" class="d-none main-container-list">
            <!-- Reportes ordenar lista de manera ascendente -->
        
            <div class="row ">
                <div class="col-md-12">
                    <div class="card">
                        <div id="ListaGenTable" class="card-body">
                            <h3 class="text-dark">LISTA DE VENTAS GENERALES DEL DIA</h3>
                            <table class="table">
                                <tr>
                                    <td>Desde</td>
                                    <td>Hasta</td>
                                    <td colspan="4"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="date" class="form-control" id="fechaG1">
                                    </td>
                                    <td>
                                        <input type="date" class="form-control" id="fechaG2">
                                    </td>

                                    <td style="text-align: right;">
                                        <button class="btn btn-secondary ver  form-group" onclick="filterSales()">Filtrar por fechas <i class="fas fa-filter"></i></button> 
                                    </td>
                                    <td style="text-align: left;">
                                        <button class="btn btn-primary ver  form-group" onclick="reloadSales()">Recargar reporte de hoy <i class="fas fa-sync"></i></button>
                                    </td>
                                    <td style="text-align: right;">
                                        <button class="btn btn-success ver form-group" onclick="makePdfGen1()">Imprimir reporte actual <i class="fas fa-print"></i></button> 
                                    </td>
                                    <td style="text-align: right;">
                                        <button class="btn btn-success ver  form-group"  onclick="makePdfGen2()">Imprimir reporte de hoy <i class="fas fa-print"></i></button>
                                    </td> 
                                    
                                </tr>
                            </table>
                            <table class="table w-100">                              
                                <tr >
                                    <th colspan="2" style="text-align: right;" id="fechaOntableVentas"> </th>
                                    
                                </tr>
                                <tr>
                                    <th>Total facturado :</th>
                                    <th style="text-align: right;  font-size: 20px;" > <strong id="totalFactura"> </strong></th>
                                    
                                </tr>
                                <tr>
                                    <th>Total en cambio :</th>
                                    <th style="text-align: right;  font-size: 20px;" > <strong id="totalCambio"> </strong></th>
                                </tr>
                            </table>
                            <table id="TableUser" class="table-bordered table table-hover text-dark ">
                                <thead >
                                    
                                
                                    <tr class="bg-dark text-white">
                                        <th><strong>N# Orden</strong></th>
                                        <th><strong>N# TICKET</strong></th>
                                        <th><strong>ID MESA</strong></th>
                                        <th><strong>Tipo de orden</strong></th>
                                        <th><strong>Tipo de pago</strong></th>
                                        <th><strong>Descuento</strong></th>
                                        <th><strong>Total de la factura</strong></th>
                                        <th><strong>Cambio</strong></th>
                                        <th><strong>Fecha</strong></th>
                                        <th><strong>Hora</strong></th>
                                        <th><strong>Imprimir</strong></th>
                                    </tr>
                                    
                                </thead>
                                <tbody id="container-list-general">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- Fin del container -->

    <hr>

    <%- include('./templates/scripts.ejs'); -%>
        <script src="/public/js/repoCliente.js"></script>
        <script src="/public/js/repoProducto.js"></script>
        <script src="/public/js/repoProductoMasV.js"></script>
        <script src="/public/js/repoVentas.js"></script>
        <script src="/public/js/repoX.js"></script>
        <script src="/public/js/repoGeneral.js"></script>



        <script>

            // $(document).ready(() => {
            //     getListTable2();
            // });
            //FUNCION PARA HACER EL CAMBIO DE PANTALLA Y OCULTAR OTROS ELEMENTOS

            let lastElemnt = document.getElementById('ProdOp');
            const changeOptionConfig = (option) => {
                if (lastElemnt) {
                    lastElemnt.classList.add('d-none');
                }
                switch (option) {

                    case 'ProdOption':
                        if ($("#ProdOp").hasClass("d-none")) {
                            $("#ProdOp").removeClass("d-none");
                            getListTable2();
                        }
                        lastElemnt = document.getElementById('ProdOp');
                        break;

                    case 'MasOption':
                        if ($("#MasOp").hasClass("d-none")) {
                            $("#MasOp").removeClass("d-none");
                            getListTable3();
                        }
                        lastElemnt = document.getElementById('MasOp');
                        break;

                    case 'DetOption':
                        if ($("#DetOp").hasClass("d-none")) {
                            $("#DetOp").removeClass("d-none");
                            getListTable4();
                        }
                        lastElemnt = document.getElementById('DetOp');
                        break;

                    case 'XOption':
                        if ($("#XoP").hasClass("d-none")) {
                            $("#XoP").removeClass("d-none");
                            // getListTable4();
                        }
                        lastElemnt = document.getElementById('XoP');
                        break;
                    case 'GenOption':
                        if ($("#GenOp").hasClass("d-none")) {
                            $("#GenOp").removeClass("d-none");
                            getListTable5();
                        }
                        lastElemnt = document.getElementById('GenOp');
                        break;

                    default:
                        break;
                }
            }



        </script>