<%- include('./templates/header'); -%>
<!-- 
Autor Jesus pineda / "Otro autor"
14/08/2020
Proposito de esta pagina: Esta es la pagina de productos 
aqui se gestionanran los diferente produstos 
-->
<!-- Aqui Agregar el contenido para las paginas del sistemas  -->

<div>
  <h1>Reportes</h1>
</div>

<%- include('./templates/scripts.ejs'); -%>