<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <SCRIPT language="javascript">
        function imprimir() {

            if ((navigator.appName == "Netscape")) {
                window.print();
            }
            else {
                var WebBrowser = '<OBJECT ID="WebBrowser1" WIDTH=0 HEIGHT=0 CLASSID="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2"></OBJECT>';
                document.body.insertAdjacentHTML('beforeEnd', WebBrowser); WebBrowser1.ExecWB(6, -1); WebBrowser1.outerHTML = "";
            }
        }

        var table2excel = new Table2Excel();
        table2excel.export(document.querySelectorAll("MasTable"));
    </SCRIPT>
</head>
<% const prod=JSON.parse(ProdL) %>
    <!--Aqui va el estilo-->
    <style id="CustomT">
        #MasTable {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #MasTable td,
        #MasTable th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #MasTable tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #MasTable tr:hover {
            background-color: #ddd;
        }

        #MasTable th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #023374;
            color: white;
        }
    </style>

    <body onload="imprimir();">

        <center>
            <h3 class="text-dark text-center">LISTADO DE PRODUCTOS</h3>
        </center>
        <table id="MasTable" class="borderless table table-responsive-lg text-dark text-center">
            <thead class="thead-dark">
                <tr>
                    <th><strong>Producto</strong></th>
                    <th><strong>Precio</strong></th>
                    <th><strong>Categoria</strong></th>

                </tr>
            </thead>
            <tbody>
                <% prod.forEach(function(ProdList){ %>
                    <tr>
                        <td>
                            <%= ProdList.producto %>
                        </td>
                        <td>
                            <%= ProdList.precio %>
                        </td>
                        <td>
                            <%= ProdList.Categoria %>
                        </td>

                    </tr>
                    <% }); %>
            </tbody>
        </table>

    </body>

</html>