*{
    background-color: #ffffff ;
}
.card{
  cursor: pointer;
}
.trash:active{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.card:active{

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.without-margen{
    margin: 0;
    padding: 0;
}
.redes{

    display: flex;
    align-items: center;
    justify-content: center;
}
.center{
    cursor: pointer;
    font-size: 25px;

}
.navbar-brand{
    font-size: 23px !important;
}
.fab{
    font-size: 20px!important;
    margin-left: 15px;
}
@media only screen and (min-width: 600px) {
    .main-prod{

        overflow: auto;
    }
    .name-category {
        position: inherit;
        cursor: pointer;
        font-size: 25px;
        width:30%;
        height: 45px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .category{
        cursor: pointer;
        margin-top: 12px;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
    }
    .list-category{

        z-index: 10000;
        color: white;
        overflow: auto;
        position: absolute;
        background-color: black;
        width: 30%;
        height: 70%
    }
    .car-shop{

        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        z-index: 1000000;
        right: 0;
        position: absolute;
        top: 0;
        width: 30%;
        height: 100%;
        background-color: white;


    }
    .car-close{margin-top: 10px;
        width: 45px;
        background-color: white;
        height: 35px;

    }
    .car-close span{
        background-color: white;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 35px;
    }
    .car-close i{
        background-color: white;
        color: black;
    }
    .tittle{
        color: black;
        text-align: center;
        width: 100%;
    }
    .main-product-to-orden{
        background-color: white;
        width: 100%;
        height: 75%;
        overflow: auto;
    }
}

@media only screen and (max-width: 600px) {

    .main-prod{
        height: 550px;
        overflow: auto;
    }
    .name-category {
        position: inherit;
        cursor: pointer;
        font-size: 25px;
        width: 100%;
        height: 55px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid white;
    }
    .category{
        cursor: pointer;
        margin-top: 12px;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
    }
    .list-category{

        z-index: 10000;
        color: white;
        overflow: auto;
        position: absolute;
        background-color: black;
        width: 100%;
        height: 55%
    }
    .car-shop{

        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        z-index: 1000000;
        right: 0;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: white;


    }
    .car-close{margin-top: 10px;
        width: 45px;
        background-color: white;
        height: 35px;

    }
    .car-close span{
        background-color: white;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 35px;
    }
    .car-close i{
        background-color: white;
        color: black;
    }
    .tittle{
        color: black;
        text-align: center;
        width: 100%;
    }
    .main-product-to-orden{
        background-color: white;
        width: 100%;

        overflow: auto;
    }

}
