<!-- 
    Autor Jesus pineda / "Otro autor"
    14/08/2020
    Proposito de esta pagina: Este es el menu y la barra de navegacion del sitio 
    Aqui se pueden modificar los enlaces a las paginas para gestionar el sistema
-->
<!-- Aqui se edita la parte del sidemenu incluye la parte de links CSS para los estilos  -->
<!DOCTYPE html>
<html lang="es">

<head>
    
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/@fortawesome\fontawesome-free\css\all.css">
    <link rel="stylesheet" href="/node_modules/alertifyjs/build/css/alertify.min.css">
    <link rel="stylesheet" href="/node_modules/alertifyjs/build/css/themes/bootstrap.css">
    <link rel="stylesheet" href="/public/css/app.css">
    <link rel="shortcut icon" href="/previews/logo.jpg" />
        
    <title>SALKANTAY</title>
    
</head>

<body>
    <nav class="navbar nav-bar-color">
        <i style="font-size: 30px; cursor: pointer;" id="btnMenu" class="fas fa-bars text-white"></i>
        <div style="cursor: pointer;" onclick="closeSesion();" class="text-white">Cerrer sesion <i class="fas fa-door-open"></i> </div>
    </nav>
    <div class="main-content">
        <div class="marginRow row">
            <div id="sideBar" class="col-md-2 d-none sidebar-menu-color">
                <div class="row">
                    <div class="col-md-12 tittle">
                        <a href="index.ejs">SALKANTAY</a>
                    </div>               
                    <div id="ventas" onclick="openNewWindow(this.id)" class="option col-md-12">
                        <i class="fas fa-money-bill-alt"></i>
                        <span>Ventas</span>
                    </div>
                    <div onclick="openNewWindow(this.id)" class="option col-md-12">
                        <i class="fas fa-file-invoice-dollar"></i>
                        <span>&nbspOrdenes</span>
                    </div>
                    <div id="clientes" onclick="openNewWindow(this.id)" class="option col-md-12">
                        <i class="fas fa-users"></i>
                        <span>Clientes</span>
                    </div>
                    <div id="productos" onclick="openNewWindow(this.id)" class="option col-md-12">
                        <i class="fas fa-box-open"></i>
                        <span>Productos</span>
                    </div>
                    <div id="reportes" onclick="openNewWindow(this.id)" class="option col-md-12">
                        <i class="fas fa-chart-bar"></i>
                        <span>Reportes</span>
                    </div>

                    <div id="info" onclick="openNewWindow(this.id)" class="option col-md-12">
                        <i class="fas fa-chart-bar"></i>
                        <span>Informacion</span>
                    </div>

                    <div id="config" onclick="openNewWindow(this.id)" class="option col-md-12">
                        <i class="fas fa-cog"></i>
                        <span>Configuraciones</span>
                    </div>
                </div>
            </div>
            <div id="contentPage" class="mairginContent col-md-12 ">
                
                <!-- <img class="navbar-brand" src="../../image/logo.jpg" width="30px"> -->
                <!-- No editar nada mas desde aqui eto se refleja en las demas paginas  -->