<!--
    Autor Jesus pineda / "Otro autor"
    14/08/2020
    Proposito de esta pagina: Fin des los divs de la pagina del menu
-->
</div>
</div>
</div>
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/node_modules/alertifyjs/build/alertify.min.js"></script>
<script src="/public/js/app.js"></script>
<script src="/node_modules/socket.io/client-dist/socket.io.js"></script>

<script>
    var socket = io.connect(IPV4, { 'forceNew': true });// conecion al servidro WS
    alertify.defaults.theme.ok = "btn btn-primary";
    alertify.defaults.theme.cancel = "btn btn-danger";
    alertify.defaults.theme.input = "form-control"

    const openNewWindow = (id) => redirect(id);

    socket.on('update-orden', function (data) {
      document.getElementById('play').play();

    });

    
</script>
